.home-wrap {
  background-color: #e4e1da;
  padding: 1.5rem;  /* ✅ body 대신 여기 적용 */
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 48px; */
  border-radius: 5px;
min-height: 70vh;  position: relative;
  background-image: url("https://images.unsplash.com/photo-1534138807944-7b5dd2954e1a?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYyNzExNzU3Nw&ixlib=rb-1.2.1&q=85");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.hero a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding-top: 24px;
  color: white;
  height: 100%;
  width: 5%;
  
}

.home-a{
color: white;
text-decoration-line: none;

}


.hero a.left {
  left: 0;
  
}

.hero a.right {
  right: 0;
}

.hero--button {
  text-decoration: none;
  text-transform: uppercase;
  padding: 12px 24px;
  color: black;
  border: solid white 2px;
  background: white;
  transition: color 0.15s ease-out, background 0.15s ease-out;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 24px;
}

.hero--button:hover {
  color: hsl(0, 0%, 60%);
}

#nav_big_text {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  color: hsl(200, 15%, 88%);
  opacity: 0;
  font-size: 18rem;
  font-weight: 700;
  line-height: 0.8;
  text-transform: uppercase;
  transform: translateX(10%);
  transition: transform 0.25s ease-out, opacity 0.25s ease-out;
  z-index: -1;
}

#nav_big_text.big_text_active {
  transform: translateX(0%);
  opacity: 1;
}

footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  bottom: 24px;
}

.copyright {
  font-size: 0.7rem;
  letter-spacing: 0.2rem;
  color: hsl(0, 0%, 60%);
  text-transform: uppercase;
}
