body {
   width: 100%; /* 공통 */
  background-color: #e4e1da; /* 공통 */
  font-size: 14px; /* 공통 */
  height: 100vh; /* 공통 */
  -webkit-font-smoothing: antialiased; /* 공통 */
  -moz-osx-font-smoothing: grayscale; /* 공통 */
  font-family: 'proxima-nova-soft', sans-serif; /* 공통 */
  /* display: flex; */
  color: #6f6767; /* 공통 */
  /* align-items: center; */
}

.title {
    font-size: 34px; /* 로그인 */
    font-weight: 700; /* 로그인 */
    line-height: 3; /* 로그인 */
    color: #6f6767; /* 로그인 */
}

.button {
    width: 180px;
    height: 50px;
    border-radius: 25px;
    margin-top: 50px;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1.15px;
    background-color: #c7c8cc;
    color: #f9f9f9;
    box-shadow:
        8px 8px 16px #d1d9e6,
        -8px -8px 16px #f9f9f9;
    border: none;
    outline: none;
}

/* 선택: 혹시 가로 스크롤 이슈가 있으면 */
html, body { overflow-x: hidden; }

/* login 공통 css*/
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


